.homePageContainer {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.homePageTitle {
  text-align: center;
  color: blue;
  font-size: 20px;
  margin-top: 20px;
}

.footerText {
  position: absolute;
  bottom: 90px;
  height: 50px;
  width: 100%;
  color: wheat;
  font-size: 20px;
  text-align: center;
}
/************ 768 *************/
@media screen and (min-width: 768px) {
  .homePageContainer {
    gap: 20px;
  }
  .homePageTitle {
    margin-top: 30px;
    font-size: 26px;
  }
  .footerText {
    font-size: 26px;
  }
}
